    html {
    scroll-behavior: smooth;
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }


    nav{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #EF233C;
        position: sticky;
        height: 70px;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    
    .portfolio-logo{
        color: #fff;
    }
    
    nav ul{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    
    nav ul li{
        list-style-type: none;
    }
    
    nav ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    .menu-icon{
        display: none;
    }
    
    .menu-icon i{
        color: #fff;
        font-size: 30px;
    }
    
    @media (max-width:800px) {
        nav ul{
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            flex-direction: column;
            text-align: center;
            background: #ffffff;
            gap: 0;
            overflow: hidden;
            border: 1px solid #EF233C;
        }
        nav ul li{
            padding: 20px;
            padding-top: 5px;
        }
        nav ul li a{
            color: grey;
        }
        .menu-icon{
            display: block;
        }
        #menuList{
            transition: all 0.5s;
        }
    }

    .name{
    background: #EF233C;
    padding: 20px 0px 80px 80px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    }

    .name  h1 {
    margin: 20px 0px;
    }

    .name a{
    text-decoration: none;
    color: white;
    }
    .profile{
    
    animation: fade-up 0.8s;
    margin: auto;
    margin-top: 50px;
    min-width: 350px;
    max-width: 50%;
    width: 100%;
    }

    .profile h1{
    font-size: 40px;
    color: rgb(63, 63, 63);
    
    }

    .profile p{
    width: 100%;
    color: gray;
    margin-top: 30px;
    word-spacing: 5px;
    text-align: justify;
    text-justify: inter-word;

    }
        .skills{
            margin: 50px;
            text-align: center;
    }
    
    .skills h1{
        font-size: 40px;
        color: rgb(63, 63, 63);
    }
    
    .list{
        margin-top: 50px;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(min(1rem, 100%), 1fr));
        min-width: 50px;
        max-width: 100%;
        width: 100%;
    }
    
    .list p{
        color: gray;
        
    }
    
    .logo{
        cursor: pointer;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
    #log{
        min-width: 60px;
        max-width: 500px;
        width: 100%;

    }
   
    
    .internship{
        margin: auto;
        min-width: 400px;
        max-width: 50%;
        width: 100%;
       }

    .internship h1{
        text-align: center;
        font-size: 40px;
        color: rgb(63, 63, 63);
    }

    .details{
        margin: 30px;
        padding: 10px;
        color: gray;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        box-shadow: 2px 2px 5px 0px gray, -2px -2px 5px 0px gray;
    }
    .details h2{
        color: rgb(63, 63, 63);
        margin-left: 20px;
        margin-top: 20px;
    }
    .details p, h4{
        margin-left: 20px;
        margin-top:8px;
        margin-bottom: 10px;
        color: gray;
    }

    .link{
        display: flex;
    }
   
    #gitlink{
        margin-left: 15px;
        text-decoration: none;
        margin-top: 20px;
        font-weight: 700;
        color: #EF233C;
        
    }
    
    .duration{
        margin-left: 30px;
        width: 50%;
        color: #EF233C;
        font-weight: 700;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    #per{
        color: #EF233C;
    }
    @keyframes appear{
        from{
            opacity: 0;
            scale: 0.5;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    .projects{
        text-align: center;
        margin: 30px;    
        }

    .project-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        place-items: center;
        margin: 0px;      
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        }

    .projects h1{
        font-size: 40px;
        color: rgb(63, 63, 63);
    }

    .wrapper{
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper img{
        width: 100%;
    }
    .image{
        width: 500px;
        position: relative;
    }

    img{
        width: 400px;
        height: 300px;
        display: block;
        margin: auto;
    }
    
    .content{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        margin-left: 0px;
    }

    .content:hover{
        opacity: 1;
    }

    .content h1{
        font-size: 20px;
        color: #ffe100;
        margin-top: 10px;
    }

    .content p{
        font-size: 19px;
        color: #fff;
    }

    .content > *{
        transform: translateY(25px);
        transition: transform 0.6s;
    }

    .content:hover > *{
        transform: translateY(0px);
    } 
    .course{
        text-align: center;
        margin: 70px;
    }

    .course h1{
        font-size: 40px;
        color: rgb(63, 63, 63);
    }

    .course-list{
        justify-content: center;
        margin: 0px;
        
    }

    .course-pic{
        margin: auto;
        box-shadow: 1px 1px 10px 0px gray, -1px -1px 10px 0px gray;
        width: 500px;
        height: 150px;
        margin-top: 40px;
        padding: 10px;
        min-width: 300px;
        max-width: 40%;
        width: 100%;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        }


    .course-pic h2{
        color: rgb(63, 63, 63);
        margin-top: 30px;
    }
    #ins{
        font-weight: bold;
    }
    .education{
        margin-bottom: 80px;
    }
    .education h1{
        text-align: center;
        font-size: 40px;
        color: rgb(63, 63, 63);
    }
    .edudet{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .box{
        margin: auto;
        min-width: 400px;
        max-width: 80%;
        width: 100%;
        
    }
    .qual{
        box-shadow: 5px 5px 10px 0px gray;
        min-width: 250px;
        max-width: 30%;
        width: 100%;
        padding: 20px;
        margin-left: 20px;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
    .timeline{
        margin-top: 50px;
        min-width: 50px;
        max-width: 10%;
        width: 100%;
        color: #EF233C;
        font-weight: 700;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }


    .footer {
        background: #EF233C;
        text-align: center;
        padding: 50px;
        color: white;
        font-size: 20px;
    }

    .footer p{
        padding: 8px;
    }
    .footer a{
        text-decoration: none;
        color: white;
    }

    .footer #linkedin, #git{
        display: inline;
        margin: 0px;
        cursor: pointer;
    }

    #owner, #mail, #phone{
        margin-right: 10px;
        padding-top: 0px;
    }

    .resume{
        text-align: center;
        margin: 30px;
        color: rgb(63, 63, 63);
    }
    .resume a{
        text-decoration: none;
        background-color: #EF233C;
        color: rgb(254, 254, 254);
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
    }
